.ComicViewerContainer {

  @container (width <= 708px) {
    --candidate-page-height: calc((100cqw / 1075)* 1518);;
    max-height: clamp(500px, var(--candidate-page-height), 650px);
  }

  @container (width > 708px) {
    --candidate-page-height: calc((50cqw / 1075)* 1518);;
    max-height: clamp(500px, var(--candidate-page-height), 650px);
  }

}


.comic-viewer-container {
  container-type: inline-size;
}